* {
	margin:0;
	padding:0;
}
body{
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0,0,0,0,5);
}
.button{
	width:145px;
	height:80px;
	font-size:35px;
	border: 3px solid black;


}
#space{
	background-color: red;
}

#gth{
	display: block;
		height:150px;
		background-color:white;
			font-size:100px;
			font-style: oblique;


}
#square{
	
	background-repeat:no-repeat;
	display:block;
	margin-left: auto;
	margin-right: auto;
background-position: 23px 20px;
}
#backspace{
	background-image: url("https://image.flaticon.com/icons/svg/318/318218.svg");
	background-repeat:no-repeat;
	display:block;
	margin-left: auto;
	margin-right: auto;
background-position: 45px 13px;
background-size: 45px;

}

input{
	width:731px;
	height:80px;
	background-color:lightblue;
	cursor: pointer;
}

#divide{
	font-size:70px;
}
.main{
	position:absolute;
	top: 50%;
	left:50%;
	transform:translateX(-50%)translateY(-50%);
}

.button1{
	width:145px;
	height:80px;
	font-size:30px;
	background-color:#ffffff;

}
#size{
	font-size: 70px;
	
}
